@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #141414;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    margin-bottom: 50px;
}

h1 {
    text-align: center;
    color: #fff;
    font-size: 50px;
}

h1 span {
    color: #FFD700;
}

section {
    margin-bottom: 20px;
}

p.paragraphe-contact {
    text-align: center;
    padding-top: 10px;
}

.informations-box {
    margin-bottom: 20px;
}

.informations-box .child-box {
    display: flex;
}

.informations-box i {
    font-size: 30px;
    margin-bottom: 10px;
    color: #FFD700;
    padding: 20px;
}

.informations-box span {
    display: block;
    font-weight: bold;
    color: #8d8989;
    text-transform: uppercase;
    padding-top: 20px;
    font-size: 20px
}

a {
    color: #FFD700;
    text-decoration: none;
    padding-top: 10px;
}

.social-media-btns {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.social-media-btns span {
    margin: 0 10px;
}

.social-media-btns i {
    font-size: 24px;
    color: #fff;
    transition: color 0.3s;
}

.social-media-btns i:hover {
    color: #FFD700;
}


.nav-btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #222;
    padding: 0 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.nav-btns a {
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    background-color: #686464;
    color: #ccc;
    border-radius: 25px;
    border: none;
}

.nav-btns a.chosen-btn {
    color: #fff;
    background-color: goldenrod;
}
